<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.isen.levreau.smartshirtapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BleDetails2"></activity>
        <activity android:name=".FollowupActivity2" />
        <activity android:name=".CompoteActivity" />
        <activity android:name=".FollowupActivity" />
        <activity android:name=".CalibrationActivity" />
        <activity android:name=".BluetoothDetails2" />
        <activity android:name=".TestActivity" />
        <activity android:name=".BluetoothActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SportActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".InscriptionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>